<div class="site-header-content">
    <h1><a href="{{ url_for('main.home') }}" target="_self" class="logo-link">Communal Grounds</a></h1>
    
    <nav class="main-nav">
        <ul>
            <li><a href="{{ url_for('main.home') }}" target="_self">Home</a></li>
            <li><a href="{{ url_for('main.about') }}" target="_self">About</a></li>
            <li><a href="{{ url_for('main.my_projects') }}" target="_self">My Projects</a></li>
            <li class="profile-link"><a href="{{ url_for('main.profile') }}" target="_self">Profile</a></li>
        </ul>
    </nav>
</div>
