<!DOCTYPE html>

<html>
<head>
    <title> Communal Grounds Home </title>
</head>
<body>
    <!--This is the header that will be present in every page-->
    <h1> Communal Grounds </h1>
    <a href="{{ url_for('main.home') }}" target="_self">  Home </a>
    <a> - </a>
    <a href="{{ url_for('main.about') }}" target="_self"> About </a>
    <a> - </a>
    <a href="{{ url_for('main.profile_creation') }}" target="_self"> Profile </a>
    <a> - </a>
    <a href="{{ url_for('main.my_projects') }}" target="_self"> My Projects </a>
    <hr>
    <h2>About Communal Grounds</h2>
    <h3> Mission Statement </h3>
    <h3> Code of Conduct </h3>
    <h3> Frequently Asked Questions </h3>
</body>

</html>
