<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}

    <h2> Edit Profile </h2>

    <form action="{{ url_for('main.submit_update_username') }}" method="POST">
        <div>
            <label for="new_username">username</label>
            <input name="new_username" type="text" id="new_username" required>
        </div>

        <br>

        <div>
            <input type="submit", value='Change Username'>
        </div>
    </form>
    <form action="{{ url_for('main.submit_update_password') }}" method="POST">
        <div>
            <label for="new_password">password</label>
            <input name="new_password" type="text" id="new_password" required>
        </div>

        <br>

        <div>
            <input type="submit", value='Change Password'>
        </div>
    </form>
    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}
</body>
</html>
