<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
{% include "layout.html" %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}    
    
    <h2> Home </h2>
    <div class="project-card-list">
        <ul>
            {% for project in all_projects%}
            <li class='project-card'>
                <label>{{project.name}}</label>
                <br>
                <img src="/static/images/WWU.jpg" width="100px">
                <a>{{project.description}}</a>
                <br>
                <a>created at: {{project.created_at}}</a>
                <br>
                
                <div class="progress">
                    <div class="progress__fill" style="width: {{ project.status * 100 }}%;">
                        <span>{{ (project.status * 100) | round(0) }}% </span>
                    </div>
                </div>
                <br>
                <!--This button will eventually be used for requesting access to projets. Once accepted, it will show up in My Projects-->
                <form methods="POST" action="{{ url_for('main.project_application', pid=project.pid) }}">
                    <button type="submit">Apply</button>
                </form>
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
 
    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}    
</body>
</html>
