<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}    
    
    <h2> Home </h2>
    <li>
        <label> Project Placeholder</label>
        <br>
        <img src="/images/WWU.jpg" width="100px">
        <a> [insert description here]</a>
        <br>
        
        <div class="progress">
            <div class="progress__fill"></div>
            <span> 50% </span>
        </div>
        <br>
        <!--This button will eventually be used for requesting access to projets. Once accepted, it will show up in My Projects-->
        <button> apply</button>
    </li>

    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}    
</body>
<style>
    .progress {
        width: 200px;
        height: 20px;
        background: #465344;
    }

    .progress__fill {
        width: 50%;
        height: 100%;
        background: #50b144;
    }
</style>

</html>
