<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}    
    
    <h2> Home </h2>
    {% for project in all_projects%}
    <li>
        <label>{{project.name}}</label>
        <br>
        <img src="/images/WWU.jpg" width="100px">
        <a>{{project.description}}</a>
        <br>
        <a>created at: {{project.created_at}}</a>
        <br>
        
        <div class="progress">
            <div class="progress__fill"></div>
            <span> {{project.status}} </span>
        </div>
        <br>
        <!--This button will eventually be used for requesting access to projets. Once accepted, it will show up in My Projects-->
        <button> apply</button>
        <br>
    </li>
    {% endfor %}

    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}    
</body>
</html>
