<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}    

    <h2> Profile </h2>

    <h3> Friends </h3>

    {% for friend in friends_list %}
        <li>
            {{ friend.username }}
        </li>
    {% endfor %}

    <form action="{{ url_for('main.edit_profile') }}">
        <button type="submit">Edit Profile</button>
    </form>
    
    <form action="{{ url_for('main.signout') }}">
        <button type="submit">Sign Out</button>
    </form>

    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}    
</body>
</html>
