<!-- Nicholas J Uhlhorn -->
<!-- November 2025 -->
<!DOCTYPE html>

<html>
{% include 'blocks/head.html' %}
<body>
    <!--This is the header that will be present in every page-->
    {% include 'blocks/header.html' %}    
    
    <h2> Oops! </h2>
    <div class="project-card">
            <p>Looks like something went wrong... <br>Try again and if the issue persists, reach out to a site administrator.</p>
    </div>
 
    <!-- This is the footer that will be present in every page-->
    {% include 'blocks/footer.html' %}    
</body>
</html>

